<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Available Rubrics</h1>
        </div>
    </div>
    <div *ngIf="rubrics" class="row">
        <div class="col-lg-8">
            <rc-rubric-list-item *ngFor="let rubric of rubrics" [rubric]="rubric"></rc-rubric-list-item>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    What is a Rubric?
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>
                            A scoring rubric is an attempt to communicate expectations of quality around a task. In many cases, scoring rubrics are used to delineate consistent criteria for grading. Because the criteria are public, a scoring rubric allows teachers and students alike to evaluate criteria, which can be complex and subjective. A scoring rubric can also provide a basis for self-evaluation, reflection, and peer review. It is aimed at accurate and fair assessment, fostering understanding, and indicating a way to proceed with subsequent learning/teaching.
                        </p>
                        <footer class="blockquote-footer">
                            <cite title="Wikipedia.com">
                                <a href="https://en.wikipedia.org/wiki/Rubric_(academic)" target="_blank">Wikipedia.com</a>
                            </cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p class="mt-4">Don't see a rubric that works for your class?</p>
            <a [routerLink]="'/rubrics/create'" class="btn btn-primary btn-lg mb-4">
                <span class="mr-1 oi oi-plus" style="font-size: .9em;"></span> Create A New Rubric
            </a>
        </div>
    </div>
</div>
