<div class="container">
        <div class="row">
            <rc-search></rc-search>
        </div>
    <div class="row">
        <div class="col-12">
            <h1 class="mb-3">Available Rubrics</h1>
        </div>
    </div>
    <div *ngIf="rubrics" class="row">
        <div class="col">
            <rc-rubric-list-item
                class="list-group"
                *ngFor="let rubric of rubrics"
                [rubric]="rubric"
            ></rc-rubric-list-item>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mb-4 mt-4">
            <p>Don't see a rubric that works for your class?</p>
            <rc-create-rubric-button></rc-create-rubric-button>
        </div>
    </div>
</div>
