<div class="jumbotron">
    <h1 class="display-4">Rubric Creator</h1>
    <p class="lead">
        Rubric Creator is a free tool designed to help you create and share rubrics.
        Build your first rubric in seconds, or customize an existing rubric from our library.
    </p>
    <hr class="my-4">
    <p>
        A free tool for educators, made at
        <a href="https://www.thegraidenetwork.com/" target="_blank">The Graide Network</a>.
    </p>
    <a class="btn btn-primary btn-lg" [routerLink]="['/rubrics', 'create']" role="button">
        <span class="mr-1 oi oi-plus"></span>
        Create Rubric
    </a>
    <a class="btn btn-secondary btn-lg" [routerLink]="['/rubrics']" role="button">
        <span class="mr-1 oi oi-list"></span>
        View Rubrics
    </a>
</div>
