<a [routerLink]="['/rubrics', rubric.uuid]"
   class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ rubric.name }}</h5>
        <span *ngIf="rubric.private" class="oi oi-lock-locked"></span>
    </div>
    <p *ngIf="rubric.created_at">
        <small>{{ rubric.created_at | date: 'mediumDate' }}</small>
    </p>
    <p *ngIf="rubric.description" class="mb-1" [innerHtml]="rubric.description | nl2br"></p>
</a>
