<ng-container *ngIf="rubric">
    <div class="component-wrapper" valign="top" *ngFor="let component of rubric.components">
        <div [ngStyle]="componentWidth()">
            {{ component.name }}
            <div *ngIf="component.description" class="caption"
                 [innerHtml]="component.description | nl2br"></div>
        </div>
        <div *ngFor="let level of component.levels" [ngStyle]="componentWidth()">
            <div *ngIf="level.label">
                <h5>{{ level.label }}</h5>
                <div>
                    Points: {{ level.score }}
                </div>
            </div>
            <div *ngIf="!level.label">
                <h5>{{ level.score }}</h5>
            </div>
            <div class="text-muted" *ngIf="level.description" [innerHTML]="level.description | nl2br"></div>
        </div>
        <div *ngFor="let emptyElement of emptyElements(component)"></div>
    </div>
</ng-container>
