<tr *ngFor="let component of rubric.components; let index = index;">
    <th [width]="componentWidth()">
        {{ component.name }}
        <div *ngIf="component.description" class="caption"
             [innerHtml]="component.description | nl2br"></div>
    </th>
    <th *ngFor="let level of component.levels" [width]="componentWidth()">
        <div [ngSwitch]="!!(level.label)">
            <div *ngSwitchCase="true">
                {{ level.label }}
                <div class="caption">
                    Points: {{ level.score }}
                </div>
            </div>
            <div *ngSwitchDefault class="text-center">
                {{ level.score }}
            </div>
        </div>
        <div class="caption" *ngIf="level.description" [innerHTML]="level.description | nl2br"></div>
    </th>
    <td *ngFor="let emptyElement of emptyElements(component)"></td>
</tr>
