<div *ngIf="rubric" class="row">
    <div class="col-12">
        <h1>Create New Rubric</h1>
        <p><span class="text-danger">*</span>Indicates required field.</p>
        <hr/>
        <div class="form-group">
            <label for="rubric-name">Name<span class="text-danger">*</span></label>
            <input
                    id="rubric-name"
                    type="text"
                    class="form-control"
                    [(ngModel)]="rubric.name"
                    (ngModelChange)="updateRubric()"
                    placeholder="A short but descriptive name for your rubric"
                    required
            />
        </div>
        <div class="form-group">
            <label for="rubric-description">Description</label>
            <textarea
                    id="rubric-description"
                    class="form-control"
                    [(ngModel)]="rubric.description"
                    (ngModelChange)="updateRubric()"
                    placeholder="A longer, optional description"
            ></textarea>
        </div>
    </div>
</div>
