html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 60px; /* Padding top by nav height */
    margin-bottom: 60px; /* Margin bottom by footer height */
}
a {
    color: #19AE54;
}
a:hover {
    color: #2DBF74;
}
.btn-primary, .btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #19AE54;
    border-color: #19AE54;
}
.btn-primary:hover, .btn-primary.disabled, .btn-primary:disabled {
    background-color: #2DBF74;
    border-color: #2DBF74;
}
.main-container {
    margin-top: 20px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f8f9fa;
}
.footer p {
    margin-bottom: 0;
}
